/*

*/

@import "fonts.less";

@c_purple: #5c2946;
@c_tan: #d6da87;
@c_green: #8dc63f;
@c_yellowgreen: #b2bb1c;
@c_bordergrey: #d9d9d9;
@c_lightgrey: #ebebeb;
@c_midgrey: #aeaeae;
@c_darkgrey: #464646;
@c_white: #ffffff;
@c_black: #000000;
@c_chartlightgrey: #555555;
@c_chartdarkgrey: #404040;

/*
Desktop width: 1200px;
Padding: 15px;
*/

html
{
	position: relative;
	min-height: 100%;
}

body
{
	color: @c_darkgrey;
	font-family: 'OpenSans-Regular';
	margin-top: 110px;
}