/*

*/

@import "fonts.less";

@c_purple: #5c2946;
@c_tan: #d6da87;
@c_green: #8dc63f;
@c_yellowgreen: #b2bb1c;
@c_bordergrey: #d9d9d9;
@c_lightgrey: #ebebeb;
@c_midgrey: #aeaeae;
@c_darkgrey: #464646;
@c_white: #ffffff;
@c_black: #000000;
@c_chartlightgrey: #555555;
@c_chartdarkgrey: #404040;

/*
Desktop width: 1200px;
Padding: 15px;
*/

html
{
	position: relative;
	min-height: 100%;
}

body
{
	color: @c_darkgrey;
	font-family: 'OpenSans-Regular';
	margin-top: 70px;
}

.navbar
{
	height: 70px;
	border: none;
	margin-bottom: 0;

	.login-div
	{
		.login-img
		{
			margin-right: 10px;
		}

		p {
			margin: 0;
		}
	}
}

.subheader
{
	height: 40px;
	background-color: @c_purple;
	vertical-align: middle;

	a {
		color: @c_white;

		&:hover, &:visited
		{
			color: @c_white;
			text-decoration: underline;
		}
	}
}