		<!-- nav -->
		<ng-include src="'partials/s_nav.html'"></ng-include>
		
		<!-- mainheader -->
		<ng-include src="'partials/s_mainheader.html'"></ng-include>

		<!-- subheader -->
		<ng-include src="'partials/s_subheader.html'"></ng-include>

		<!-- alerts -->
		<ng-include src="'partials/s_alerts.html'"></ng-include>

		<div class="container">
			<ng-include src="'partials/s_mainsection.html'"></ng-include>
		</div>

		<div class="container">
			<ng-include src="'partials/s_chart.html'"></ng-include>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-md-4">
					<ng-include src="'partials/s_blog.html'"></ng-include>
				</div>
				<div class="col-sm-8 col-md-8">
					<ng-include src="'partials/s_members.html'"></ng-include>
				</div>
			</div>
		</div>

		<ng-include src="'partials/s_footer.html'"></ng-include>