					<div class="container section-container">
						<div class="row section-row">
							<div class="col-sm-12 col-md-12">
								<div class="section-title-left">
									{{s_blog.sectionTitle}}
								</div>
								<div class="section-title-right">
								</div>
							</div>
						</div>
						<div class="row section-row">
							<div class="col-sm-12 col-md-12">
								<hr>
								<div class="subsection subsection-blog">
									<div class="content-text">
										<p>{{s_blog.post.body}}</p>
									</div>
								</div>
								<div class="subsection subsection-centerlink">
									<div class="content-centerlink">
										<a href="{{s_blog.post.linkURL}}"><img src="img/doc.png" alt="Section Link">{{s_blog.post.linkText}}</a>
									</div>
								</div>
							</div>
						</div>
					</div>