			<div class="container section-container">
				<div class="row section-row has-shadow">
					<div class="col-sm-12 col-md-12">
						<div class="section-title-left">
							{{s_main.sectionTitle}}
						</div>
						<div class="section-title-right">
						</div>
					</div>
				</div>
				<div class="row section-row">
					<div class="col-sm-6 col-md-6">
						<div class="subsection subsection-img">
							<!-- <img src="img/placeholder.png"> -->
							<p ng-bind-html="returnTrustedHTML(s_main.left.text)"></p>
						</div>
					</div>
					<div class="col-sm-6 col-md-6">
						<hr class="yellowgreen">
						<div class="subsection subsection-text">
							<div class="content-subtitle">
								<p>{{s_main.right.subtitle}}</p>
							</div>
							<div class="content-title">
								<h2>{{s_main.right.title}}</h2>
								<p><b>{{s_main.right.sectionType}}:</b> {{s_main.right.section}} | {{s_main.right.date}}</p>
							</div>
							<div class="content-text">
								<p>{{s_main.right.body}}</p>
							</div>
							<div class="content-learnmore">
								<a href="{{s_main.right.learnMore}}">Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</div>