		<div class="mainheader">
			<div class="container">
				<div class="row mainheader-row">
					<div class="col-sm-4 col-md-4 vcenter">
						<a href="#/"><img class="logo" src="img/logo.png" alt="Celerity"></a>
					</div><!--
				--><div class="col-sm-4 col-md-4 vcenter">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<img src="img/icon-search.png" alt="Search">
								</button>
							</span>
						</div>
					</div><!--
				--><div class="col-sm-4 col-md-4 vcenter">
						<div class="login-div">
							<img class="login-img" src="img/profileSmall.png" alt="Profile">
							<div class="login-text">
								<p class="login-name">{{clientName}}</p>
								<p><a href="#">Account Settings</a> | <a href="#">Logout</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>